@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  padding-left: 12%;
  padding-right: 12%;
  background-color: variables.$blue-main;
  &__h1 {
    justify-content: flex-start;
    font-family: variables.$main-typo;
    font-weight: 700;
    color: variables.$white;
    cursor: pointer;
    span {
      color: variables.$yellow-main;
    }
    &:hover {
      color: black;
    }
  }
  &__pagesList {
    align-items: center;
    flex-grow: 1;
    font-family: variables.$main-typo;
    font-weight: 700;
    padding-right: 12%;
  }

  &__a {
    font-weight: 700;
    font-family: variables.$main-typo;
    font-size: 14px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 50%;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: 0 auto;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
