@use "./variables";
@use "./header";
@use "./footer";

body {
  font-family: variables.$main-typo;
  margin: 0;
  background-color: white;
  main {
    h2 {
      margin-top: 20px;
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
      background-color: white;
      border: solid;
      border-color: black;
      border-width: 5px;
      color: black;
      padding:20px;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    h3{
      margin-left: 35%;
      margin-right: 35%;
      border: solid;
      padding: 10px;
      text-align: center;
      border-color: variables.$yellow-main;
      border-width: 5px;
      color: variables.$yellow-main;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

.homeProvider-container {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap:5px;
  &__card {
    background-color: variables.$background-color;
    border: solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap:10px;
    &--h4 {
      padding: 0;
      color: variables.$blue-main;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &--description {
      color: #555;
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.5;
    }

    &--price {
      color: variables.$blue-main;
      font-size: 18px;
      font-weight: 700;
      margin-top: auto;
    }
  }
}

footer {
  margin-top: auto;
}
