@use "./variables";
@use "./footer";
@use "./header";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  font-family: variables.$second-typo;
  background-color: variables.$background-color;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  flex: 1;

  &__h1 {
    color: variables.$blue-main;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__h2 {
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--username,
    &--password {
      display: flex;
      flex-direction: row;  
      align-items: center;
      justify-content: space-between; 
      gap: 20px;
    }

    label {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      color: variables.$blue-main;
      flex: 1;
      text-align: left;
    }

    input {
      background-color: variables.$white;
      border-radius: 12px;
      border: 1px solid #ddd;
      color: #333;
      font-size: 16px;
      padding: 10px 15px;
      outline: none;
      width: 100%;
      max-width: 300px; 
      
      &:focus {
        border: 1px solid variables.$blue-main;
      }
    }
  }

  button {
    margin-top: 150px;
    background-color: variables.$blue-main;
    border-radius: 12px;
    color: variables.$white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: none;
    width: 100%;
    transition: background-color 200ms ease-in-out;
    margin-bottom: 0;
    &:hover {
      background-color: variables.$blue-main;
    }
  }
}

footer {
  margin-top: auto;
}
